body {
    padding: 60px 0px 60px;
    background-color: AliceBlue;
}

@-moz-document url-prefix(){
	@media (max-width: 768px){
		.navbar-collapse {
			width: 700px;
		}
	}
	@media (min-width: 768px){
		.navbar-collapse {
			width: 1000px;
		}
	}
}

/*  Template for error message borrowed from: http://www.jankoatwarpspeed.com/css-message-boxes-for-different-message-types/*/
p.error {
	font-size       : .8em; 
	border          : 1px solid red;
	margin          : 10px;
	padding         : 5px 0px 5px 35px;
	color           : #D8000C;
	background-color: #FFBABA;
	background-image: url('/images/errorSmall.png');
	background-repeat: no-repeat;
	background-position: left center;
}

/* Fonts */
h1{
	font-family: 'Quattrocento', serif;
}

body{
	font-family: 'Quattrocento Sans', sans-serif;
}

a {
    color: #2E618D;
}

a:hover{
    text-decoration: none;
    color: #5881A4;
}

.center{

}

.accordion-toggle{
	min-width: 100px;
	margin: 0 10px;
}


